.state__table {
    border-spacing: 3px;
    border-collapse: separate;
}

.icon {
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.icon:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

@media only screen and (max-width: 460px) {
    .state__table {
        border-spacing: 0px;
        border-collapse: collapse;
    }
}
