.graph {
    width: 700px;
    height: 350px;
}

@media only screen and (max-width: 480px) {
    .graph {
        width: 420px;
        height: 210px;
    }
}

@media only screen and (min-width: 480px) {
    .graph {
        width: 460px;
        height: 230px;
    }
}

@media only screen and (min-width: 768px) {
    .graph {
        width: 700px;
        height: 350px;
    }
}

@media only screen and (min-width: 960px) {
    .graph {
        width: 800px;
        height: 400px;
    }
}

@media only screen and (min-width: 1280px) {
    .graph {
        width: 600px;
        height: 300px;
    }
}
