.graph {
    width: 700px;
    height: 350px;
}

@media only screen and (max-width: 768px) {
    .graph {
        width: 500px;
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .graph {
        width: 700px;
        height: 350px;
    }
}

@media only screen and (min-width: 960px) {
    .graph {
        width: 800px;
        height: 400px;
    }
}

@media only screen and (min-width: 1280px) {
    .graph {
        width: 600px;
        height: 300px;
    }
}
