.flipswitch {
    display: flex;
}

.flipswitch__item {
    width: 85px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffa372;
}

.item__start {
    border-radius: 8px 0px 0px 8px;
}

.item__end {
    border-radius: 0px 8px 8px 0px;
}

.item__selected {
    background-color: #ed6663;
}

.item__text {
    color: #ffffff;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
